    <select
        class="custom-select ArticleOrderSelect form-control col-lg-2 float-right"
        id="itemOrderSelect"
        name="ItemSorting"
        @change="$store.dispatch('selectItemListSorting', $event.target.value)"
        v-populate-store:mutation="{ name: 'setItemListSorting', data: '{{selectedSorting}}' }">
        {% for key, value in sortingData %}
            <option value="{{ key }}"{% if key == selectedSorting %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
