<script type="x/template" id="vue-add-to-wish-listETC">

    <div id="SingleArticle_Price_Watchlist" class="test0830">
      <a :class="{active: isVariationInWishList}" @click.prevent="switchState()" data-toggle="tooltip" data-placement="top" title="">
          <span class="OnWatchlist_Text">{{ trans("Ceres::Template.ETC_AufDerMerkliste") }}</span>
          <span class="ToWatchlist_Text">{{ trans("Ceres::Template.ETC_AufDieMerkliste") }}</span>
        <i class="material-icons">visibility</i>
      </a>
    </div>
</script>
