{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ config("Ceres.header.company_name") }} - 404</title>
{% endblock %}

{% block PageBody %}

    {# TODO #}

{% endblock %}
