{{ component( "CeresCoconut::Customer.Components.AddressInputGroup.AddressInputGroupETC" ) }}

<script type="x/template" id="vue-create-update-addressETC">
    <form id="billing_address_form" v-if="addressType === '1'">
        <div class="row Test0824">

            <address-input-group template="#vue-address-input-groupETC" :address-type="addressType" :modal-type="modalType" :value="addressData" @input="emitInputEvent($event)"></address-input-group>

            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block" @click="validate" :disabled="waiting">{{ trans("Ceres::Template.addressSave") }}</button>
            </div>
        </div>
    </form>
    <form id="delivery_address_form" v-else-if="addressType === '2'">
        <div class="row">

            <address-input-group template="#vue-address-input-groupETC" :address-type="addressType" :modal-type="modalType" :value="addressData" @input="emitInputEvent($event)"></address-input-group>

            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block" @click="validate" :disabled="waiting">{{ trans("Ceres::Template.addressSave") }}</button>
            </div>
        </div>
    </form>
</script>
