{{ component( "Ceres::Item.Components.QuantityInputETC" ) }}
{{ component( "Ceres::Item.Components.ItemBundle" ) }}

{% set itemsData = config("Ceres.basket.item_data")|split(', ') %}
{% set showItemVariation = config("Ceres.basket.variations") %}
{% set basketDetailsData = config("Ceres.basket.item_data")|split(', ') %}

<script type="x/template" id="vue-basket-list-item-checkoutETC">
  <div class="row checkout-items-item margin-top-xs-05">
        <!-- preview images -->
        <div id="chk_ItemImage" class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <div class="imageBox text-center margin-top-05">
            <img :src="image" :alt="basketItem.variation.data | itemName">
          </div>
        </div>
        <!-- ./preview images -->
        <!-- item info -->
        <div id="chk_ItemData" class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
          <a class="name block" :href="basketItem.variation.data | itemURL" :title="basketItem.variation.data.texts.name1">${ basketItem.variation.data.texts.name1 }</a>
          <dl>
            <dt class="col-xs-5 BasketItemArtNr"> {{ trans("CeresCoconut::Template.ETC_Artikelnummer") }} </dt>
            <dd class="col-xs-7"> ${ basketItem.variation.data.variation.number } </dd>
            <dt></dt>
            <dd class="col-xs-12 BasketItemTechData" v-html="basketItem.variation.data.texts.technicalData">

            </dd>
          </dl>
        </div>
        <div id="chk_PriceBox" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="chk_PriceBoxContainer">
            <span id="chk_ItemPrice" data-plenty-checkout="basket-item-price-total">${ itemTotalPrice | currency(basketItem.variation.data.prices.default.currency) }</span><br>
          </div>
          <div class="quantityInputWrapper" data-plenty="quantityInputWrapper">
            <quantity-input template="#vue-quantity-inputETC"
              @quantity-change="updateQuantity"
              :value="basketItem.quantity"
              :waiting="isInputLocked"
              :min="basketItem.variation.data.variation.minimumOrderQuantity"
              :max="basketItem.variation.data.variation.maximumOrderQuantity"
              :interval="basketItem.variation.data.variation.intervalOrderQuantity"></quantity-input>
          </div>
          <a>
            <i v-waiting-animation="waitingForDelete" class="fa" aria-hidden="true"></i>
            <span id="chk_RemoveItemText" @click="deleteItem"> {{ trans("CeresCoconut::Template.ETC_ArtikelEntfernen") }}</span> <i id="chk_RemoveItem" class="material-icons w3-xxxlarge" @click="deleteItem">clear</i>
          </a>
        </div>
        <!-- ./item info -->
  </div>
</script>
