{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ config("Ceres.header.company_name") }} - {{ trans("CeresCoconut::Template.ETC_Merkliste") }}</title>
{% endblock %}

{% block PageBody %}
<div style="display: none;" id="hiddenWishList">Hallo</div>

{% endblock %}
