{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}

<script type="x/template" id="vue-category-item-quickview">
  <div>
    <i aria-hidden="true" class="fa fa-search-plus showQuickView" @click="seen = !seen" ></i>
    <div :id="'categoryItemQuickView_' + itemData.item.id" class="quickItemView" v-if="seen">
        <i aria-hidden="true" class="fa fa-times float-right p-3 quickItemViewClose" @click="seen = !seen" ></i>
        <div class="quickView_TopLeft col-lg-6">
          <img :src="firstImageByPosition"><br>
        </div>
        <div class="quickView_TopRight col-lg-6">
          <span class="qvItemName">${ itemData.texts.name1 }</span><br>
          <br>
          <span class="qvItemPrice">${ itemData.prices.default.price.formatted }</span><br>
          <br>
          {% if itemData.prices.rrp %}
            <span class="qvItemRRP">${ itemData.prices.rrp.price.formatted }</span><br>
            <br>
          {% endif %}
          <div class="qvRatingProperties">
            {{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item) }}
            <slot name="etc-quickview-eigenschaften"></slot>
          </div>
          <span class="qvItemTechData" v-html="itemData.texts.technicalData"></span><br>
          <br>
          <a :href="itemData | itemURL(urlWithVariationId)" class="qvLinkToItem px-5 py-3">Produktdetails</a>
          <a :href="itemData | itemURL(urlWithVariationId)" class="qvToBasket ml-2"><i class="material-icons">shopping_cart</i></a><br>
          <br>
        </div>
        <div class="quickView_Bottom col-lg-12">
          <category-image-carousel :image-urls-data="itemData.images | itemImages(imageUrlAccessor)"
                                  :alt-text="itemData | itemName"
                                  :title-text="itemData | itemName"
                                  :item-url="itemData | itemURL(urlWithVariationId)"
                                  :enable-carousel="$ceres.config.item.enableImageCarousel"
                                  :disable-carousel-on-mobile="disableCarouselOnMobile"
                                  ref="categoryImageCarousel">
          </category-image-carousel>
        </div>
    </div>
  </div>
</script>

<script>

  function _typeof(obj) { if (typeof Symbol === "function" && typeof Symbol.iterator === "symbol") { _typeof = function _typeof(obj) { return typeof obj; }; } else { _typeof = function _typeof(obj) { return obj && typeof Symbol === "function" && obj.constructor === Symbol && obj !== Symbol.prototype ? "symbol" : typeof obj; }; } return _typeof(obj); }

  Vue.component("category-item-quickview", {
    delimiters: ["${", "}"],
    props:
    {
          template:
          {
              type: String,
              default: "#vue-category-item-quickview"
          },
          itemData:
          {
              type: Object
          },
          urlWithVariationId:
          {
            type: Boolean,
            default: true
          },
          imageUrlAccessor:
          {
            type: String,
            default: "urlMiddle"
          },
          disableCarouselOnMobile:
          {
            type: Boolean,
            default: true
          }
    },
    data: function () {
      return {
        seen: false
      }
    },
    jsonDataFields: [
        "itemDataRef"
    ],
    computed: {
      firstImageByPosition: function firstImageByPosition() {
        var pos = 10000;
        var retImg = "";

        for (var i = 0; i < this.itemData.images.all.length; i++) {
          if (this.itemData.images.all[i].position < pos && this.itemData.images.all[i].position != 0) {
            pos = this.itemData.images.all[i].position;
            retImg = this.itemData.images.all[i].urlMiddle;
          }
        }

        return retImg;
      }
    },
    created: function created() {

    },
    methods: {
      loadFirstImage: function loadFirstImage() {
        var categoryImageCarousel = this.$refs.categoryImageCarousel;

        if (categoryImageCarousel) {
          categoryImageCarousel.loadFirstImage();
        }
      }
    }
  });
</script>
