{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}

<script type="x/template" id="vue-category-item-quickview">
  <div>
    <i aria-hidden="true" class="fa fa-search-plus showQuickView" @click="seen = !seen" ></i>
    <div :id="'categoryItemQuickView_' + itemData.item.id" class="quickItemView" v-if="seen">
        <div id="quickView_TopLeft" class="col-lg-6">
          <img :src="firstImageByPosition"><br>
        </div>
        <div id="quickView_TopRight" class="col-lg-6">
          ${ itemData.texts.name1 }<br>
          ${ itemData.prices.default.price.formatted }<br>
          {% if itemData.prices.rrp %}
            ${ itemData.prices.rrp.price.formatted }<br>
          {% endif %}
          ${ itemData.texts.technicalData }<br>
          <a :href="itemData | itemURL(urlWithVariationId)">Produktdetails</a><br>
          {{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item) }}
          <slot name="etc-quickview-eigenschaften"></slot>
        </div>
        <div id="quickView_Bottom" class="col-lg-12">
        </div>
    </div>
  </div>
</script>

<script>

  function _typeof(obj) { if (typeof Symbol === "function" && typeof Symbol.iterator === "symbol") { _typeof = function _typeof(obj) { return typeof obj; }; } else { _typeof = function _typeof(obj) { return obj && typeof Symbol === "function" && obj.constructor === Symbol && obj !== Symbol.prototype ? "symbol" : typeof obj; }; } return _typeof(obj); }

  Vue.component("category-item-quickview", {
    delimiters: ["${", "}"],
    props:
    {
          template:
          {
              type: String,
              default: "#vue-category-item-quickview"
          },
          itemData:
          {
              type: Object
          },
          urlWithVariationId:
          {
            type: Boolean,
            default: true
          },
          imageUrlAccessor:
          {
            type: String,
            default: "urlMiddle"
          },
          disableCarouselOnMobile:
          {
            type: Boolean,
            default: true
          }
    },
    data: function () {
      return {
        seen: false
      }
    },
    jsonDataFields: [
        "itemDataRef"
    ],
    computed: {
      firstImageByPosition: function firstImageByPosition() {
        var pos = 10000;
        var retImg = "";

        for (var i = 0; i < this.itemData.images.all.length; i++) {
          if (this.itemData.images.all[i].position < pos && this.itemData.images.all[i].position != 0) {
            pos = this.itemData.images.all[i].position;
            retImg = this.itemData.images.all[i].urlMiddle;
          }
        }

        return retImg;
      }
    },
    created: function created() {

    },
    methods: {
      loadFirstImage: function loadFirstImage() {
        var categoryImageCarousel = this.$refs.categoryImageCarousel;

        if (categoryImageCarousel) {
          categoryImageCarousel.loadFirstImage();
        }
      }
    }
  });
</script>
