<script type="x/template" id="vue-paginationETC">


        <ul class="pagination nav navbar-left col-lg-4 p-x-0" v-if="pageMax > 1">
            <div class="navPrevLinks">
              <!-- FIRST PAGE LINK -->
              {% if config('Ceres.pagination.showFirstPage') == "true" %}
                <li class="nav_first" v-if="page > 2">
                  <a rel="first" @click="setPage(1)">
                    <i class="material-icons skip_prev">skip_previous</i>
                  </a>
                </li>
              {% endif %}
              <!-- ./FIRST PAGE LINK -->
              <!-- PREV LINK -->
              <li class="nav_prev" :class="{'disabled': page <= 1}">
                <a rel="prev" @click="setPage(page-1)">
                  <i class="material-icons">play_arrow</i>
                </a>
              </li>
              <!-- ./PREV LINK -->
            </div>
            <div class="navPages Test1604">
              <li class="hidden-xs hidden-sm">
                <div class="articlePages">
                  <!-- PAGINATION -->
                  <a class="articlePages_LinkElement articlePages_Link page_link" :class="{'zweistellig': page > 9, 'dreistellig': page > 99}" v-if="page === pageMax && page > 2" @click="setPage(page - 2)">${ page - 2 }</a>
                  <a class="articlePages_LinkElement articlePages_Link page_link" :class="{'zweistellig': page > 9, 'dreistellig': page > 99}" v-if="page > 1" @click="setPage(page - 1)">${ page - 1 }</a>
                  <a class="articlePages_LinkElement articlePages_Link articlePages_activeLink page_link" :class="{'zweistellig': page > 9, 'dreistellig': page > 99}">${ page }</a>
                  <a class="articlePages_LinkElement articlePages_Link page_link" :class="{'zweistellig': page > 9, 'dreistellig': page > 99}" v-if="page + 1 <= pageMax" @click="setPage(page + 1)">${ page + 1 }</a>
                  <a class="articlePages_LinkElement articlePages_Link page_link" :class="{'zweistellig': page > 9, 'dreistellig': page > 99}" v-if="page === 1 && page + 2 <= pageMax" @click="setPage(page + 2)">${ page + 2 }</a>
                  <!-- ./PAGINATION -->
                </div>
              </li>
            </div>
            <div class="navNextLinks">
              <!-- NEXT LINK -->
              <li class="nav_next" :class="{'disabled': page >= pageMax}">
                <a rel="next" @click="setPage(page + 1)">
                  <i class="material-icons">play_arrow</i>
                </a>
              </li>
              <!-- ./NEXT LINK -->

              <!-- LAST PAGE LINK -->
              {% if config('Ceres.pagination.showLastPage') == "true" %}
                <li class="nav_last" v-if="pageMax > 3 && page < pageMax - 1">
                  <a rel="last" @click="setPage(pageMax)">
                    <i class="material-icons skip_next">skip_next</i>
                  </a>
                </li>
              {% endif %}
              <!-- ./LAST PAGE LINK -->
            </div>
        </ul>
        <ul v-else class="pagination nav navbar-left col-lg-4">
          <li>&nbsp;</li>
        </ul>

</script>
